<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compañia de luz</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #008F5A;
            color: #ffffff;
            text-align: center;
            padding: 20px;
            position: relative;
        }

        .title {
            margin-top: 50px; /* Ajusta el margen superior según sea necesario */
        }

        nav {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        nav a {
            text-decoration: none;
            color: #fff;
            margin: 0 10px;
            transition: color 0.3s ease;
        }

        nav a:hover {
            color: #007bff;
        }

        nav button {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 0;
            margin: 0;
        }

        .container {
            margin: 20px auto;
            max-width: 600px;
        }

        input,
        select,
        button {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        button[type="submit"],
        button[type="reset"] {
            background-color: #61bd72;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 20px; /* Borde redondo */
            padding: 10px 20px;
            margin-top: 20px;
            transition: background-color 0.3s ease;
        }

        button[type="submit"]:hover,
        button[type="reset"]:hover {
            background-color: #0056b3;
        }

        a.button {
            display: block;
            text-align: center;
            padding: 10px 0;
            background-color: #dc3545;
            color: #fff;
            text-decoration: none;
            margin-top: 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        a.button:hover {
            background-color: #c82333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f8f9fa;
        }

        tbody tr:last-child td {
            border-bottom: none;
        }
    </style>
</head>

<body>
    <header>
        <h1 class="title">Compañia MJ-CFE</h1>
        <img src="https://res.cloudinary.com/dc8cxj28d/image/upload/v1709855223/hho6pbgxlcpwr81j3z7t.jpg">
    </header>

    <nav style="padding: 20px;">
        <a href="#">Acerca de</a>
        <a href="#">Pago de recibo</a>
        <a href="#">Contacto</a>
    </nav>

    <div class="container">
        <form action="/" method="post">
            <input type="number" name="numero" id="numero" placeholder="Numero de recibo" required>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
            <input type="text" name="adress" id="adress" placeholder="Domicilio" required>
            <select name="servicio" id="servicio" required>
                <option value="" disabled selected hidden>Selecciona una opción</option>
                <option value="1.08">Domicilio</option>
                <option value="2.5">Comercial</option>
                <option value="3.0">Industrial</option>
            </select>
            <input type="text" name="kilo" id="kilo" placeholder="Kilowatts Consumidos" required>
            <button type="submit">Enviar</button>
            <button type="reset">Limpiar</button>
        </form>
    </div>

    <% 
    const precioKilo = parseFloat((kilo * servicio).toFixed(2));
    const iva = parseFloat((precioKilo * 0.16).toFixed(2));
    let descuento = 0;
    
    if (kilo > 10000) {
        descuento = parseFloat((precioKilo * 0.50).toFixed(2));
    } else if (kilo > 1000) {
        descuento = parseFloat((precioKilo * 0.20).toFixed(2));
    } else {
        descuento = parseFloat((precioKilo * 0.10).toFixed(2));
    }
    
    const total = parseFloat(((precioKilo - descuento) + iva).toFixed(2));
%>
    <div class="container">
        <section>
            <table style="width: 100%; background: linear-gradient(to right, #B7E4C7, #84E184, #57D84A); text-align: center;">

            <thead>
                    <tr style="background-color: #4CAF50; color: #000000;">
                        <th scope="col" style="padding: 10px;">Numero</th>
                        <th scope="col" style="padding: 10px;">Nombre</th>
                        <th scope="col" style="padding: 10px;">Tipo de Servicio</th>
                        <th scope="col" style="padding: 10px;">KiloWatts Consumidos</th>
                        <th scope="col" style="padding: 10px;">Costo por kW</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color: #E8F8E8;">
                        <td style="padding: 10px;"><%=numero%></td>
                        <td style="padding: 10px;"><%=nombre%></td>
                        <td style="padding: 10px;"><%=servicio%></td>
                        <td style="padding: 10px;"><%=kilo%></td>
                        <td style="padding: 10px;"><%=servicio%></td>
                    </tr>
                    <tr style="background-color: #E8F8E8;">
                        <td style="padding: 10px;"></td>
                        <td style="padding: 10px;"></td>
                        <td style="padding: 10px;"></td>
                        <td style="padding: 10px; font-weight: bold;">Subtotal:</td>
                        <td style="padding: 10px; font-weight: bold; color: #4CAF50;">$<%=precioKilo%></td>
                    </tr>
                    <tr style="background-color: #E8F8E8;">
                        <td style="padding: 10px;"></td>
                        <td style="padding: 10px;"></td>
                        <td style="padding: 10px;"></td>
                        <td style="padding: 10px; font-weight: bold;">Impuesto:</td>
                        <td style="padding: 10px; font-weight: bold; color: #4CAF50;">$<%=iva%></td>
                    </tr>
                    <tr style="background-color: #E8F8E8;">
                        <td style="padding: 10px;"></td>
                        <td style="padding: 10px;"></td>
                        <td style="padding: 10px;"></td>
                        <td style="padding: 10px; font-weight: bold;">Descuento:</td>
                        <td style="padding: 10px; font-weight: bold; color: #4CAF50;"><%=descuento%></td>
                    </tr>
                    <tr style="background-color: #E8F8E8;">
                        <td style="padding: 10px;"></td>
                        <td style="padding: 10px;"></td>
                        <td style="padding: 10px;"></td>
                        <td style="padding: 10px; font-weight: bold;">Total a Pagar:</td>
                        <td style="padding: 10px; font-weight: bold; color: #4CAF50;">$<%=total%></td>
                    </tr>
                </tbody>
            </table>
            
            
        </section>
    </div>
</body>

</html>
