body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #008F5A;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: relative;
}

.title {
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007bff;
}

nav button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.container {
    margin: 20px auto;
    max-width: 600px;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"],
button[type="reset"] {
    background-color: #61bd72;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Borde redondo */
    padding: 10px 20px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: #0056b3;
}

a.button {
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #c82333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
}

tbody tr:last-child td {
    border-bottom: none;
}